.product-img {
  height: 250px;              
  object-fit: cover;          
  width: 100%;                
  display: block;             
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
}

#category-links .btn.active,
#category-links .btn:focus {
  background: #212529;
  color: #fff;
  border-color: #212529;
}
